
<div class="container pt-5 pt-5">
    <div class=" searchbar">
        <input class="searchbarstyle" type="text" (input)="keyPress($event.target.value)" placeholder="Search track name">
      </div>
  <div class="row content ">
    <div class="col-sm-6">
      <div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let music of searchMusics">
            <div class="row">
              <div class="col-sm-4">{{music['title']}}</div>
              <div class="col-sm-4">{{music['artist']['name']}}</div>
              <div class="col-sm-2 text-center">{{getDuration(music['duration'])}}</div>
              <div class="col-sm-2 text-center">
                  <span (click)="playMusic(music, 0)"><fa name="plus" size="2x" class="cursor-pointer text-primary" [hidden]="false"></fa></span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <h4 class="mb-3 text-center">Your current playlist</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let music of mocksMusic">
          <div class="row">
            <div class="col-sm-4">{{music['title']}}</div>
            <div class="col-sm-4">{{music['artist']['name']}}</div>
            <div class="col-sm-2 text-center">{{getDuration(music['duration'])}}</div>
            <div class="col-sm-2">
              <span (click)="deleteFromPlaylist(music)"><fa name="minus" size="2x" class="cursor-pointer text-primary" [hidden]="false"></fa></span>              
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6">
      <h4 class="mb-3 text-center">Recommendations</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let music of recommended">
          <div class="row">
            <div class="col-sm-4">{{music['title']}}</div>
            <div class="col-sm-4">{{music['artist']['name']}}</div>            
            <div class="col-sm-2 text-center">
                <span (click)="playMusic(music, 2)"><fa name="play-circle" size="2x" class="cursor-pointer text-primary" [hidden]="false"></fa></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row content align-middle playcontrol">
    <div class="lecteur">
      <mat-icon style="color: #fff; font-size:60px;cursor:pointer" (click)="nextOrPrev(0)">skip_previous</mat-icon>
      <mat-icon style="color:#fff; margin-left:30px;font-size:60px;cursor:pointer" [hidden]="audio.paused" (click)="audio.pause()">pause</mat-icon>
      <mat-icon style="color: #fff; margin-left:30px;font-size:60px;cursor:pointer" [hidden]="!audio.paused" (click)="audio.play()">play_arrow</mat-icon>
      <mat-icon style="color: #fff; margin-left:30px;font-size:60px;cursor:pointer" (click)="nextOrPrev(1)">skip_next</mat-icon>
      <span *ngIf="currentSong != null" class="textPlayer">{{currentSong['title']}} - {{currentSong['artist']['name']}}</span>
    </div>
</div>